%body
  .single-container
    %header.single-header
      %h1
        = link_to root_path, {class: "header-logo"} do
          = image_tag("logo.svg", class: "top-logo")
    %main.single-main
      %section.single-contents
        %h2.single-head
          購入を確定しますか？
        .single-inner
          .buy-content
            %h3.buy-item__image
              = image_tag(@item.images.first.image.url, class: "item-image")
            %h3.buy-item__name
              = @item.name
            %div.buy-item__menu
              %p.buy-price
                = "¥#{@item.price}"
                %span
                  送料込み
              %ul.buy-accordion
                %li.buy-accordion__parent
                  .buy-accordion__toggle
                    売上金はありません
              %ul.buy-accordion
                %li.buy-accordion__parent
                  .buy-accordion__toggle
                    ポイントはありません
              %ul.buy-price__table
                %li
                  .buy-price__payment
                    支払い金額
                  .buy-price__money
                    = "¥#{@item.price}"
              = link_to "購入する", { :controller => :buy, :action => :buy}
          %section.buy-content
            .buy-content__inner
              %h3
                配達先
              %address.buy-user__info
                = "〒#{@user.post_number}"
                = @user.city
          %section.buy-content
            .buy-content__inner
              %h3
                支払い方法
              %credit.buy-user__info
                = "************#{@user.card_number}"
                = @user.city
    = render 'users/footer'
