%body
  .single-container
    %header.single-header
      %h1
        = link_to root_path, {class: "header-logo"} do
          = image_tag("logo.svg", class: "top-logo")
        %nav.clearfix
          = image_tag("address.jpg", class: "right-image")
    %main.single-main
      %section.single-contents
        %h2.single-head
          住所入力
        .single-inner
          .single-content
            = form_for @user, url: address_path(@user) do |f|
              .form-group
                .form-group__label
                  = f.label :"お名前"
                %span.form-group__require
                  必須
                .form-group__input
                  = f.text_field :last_name, autofocus: true ,required: "", placeholder: "例)  森田", class: "input-default"
                  = f.text_field :first_name, autofocus: true ,required: "", placeholder: "例)  善乃", class: "input-default", id: "second-box"
              .form-group
                .form-group__label
                  = f.label :"お名前カナ"
                %span.form-group__require
                  必須
                .form-group__input
                  = f.text_field :last_kananame, autofocus: true ,required: "", placeholder: "例)  モリタ", class: "input-default"
                  = f.text_field :first_kananame, autofocus: true ,required: "", placeholder: "例)  ヨシノ", class: "input-default", id: "second-box"
              .form-group
                .form-group__label
                  = f.label :"郵便番号"
                %span.form-group__require
                  必須
                .form-group__input
                  = f.text_field :post_number, required: "", placeholder: "例)  123-4567",class: "input-default"
              .form-group
                .form-group__label
                  = f.label :"都道府県"
                %span.form-group__require
                  必須
                .form-group__contain
                  .form-group__input
                    = f.collection_select :area_id, Area.all, :id, :name, {include_blank: "---"}
                  %i.fa.fa-chevron-down
              .form-group
                .form-group__label
                  = f.label :"市区町村"
                %span.form-group__require
                  必須
                .form-group__input
                  = f.text_field :city, autofocus: true , required: "", placeholder: "例)  横浜市中区", class: "input-default"
              .form-group
                .form-group__label
                  = f.label :"番地"
                %span.form-group__require
                  必須
                .form-group__input
                  = f.text_field :address, autofocus: true , required: "", placeholder: "例)  桜木町1-1-1", class: "input-default"
              .form-group
                .form-group__label
                  = f.label :"建物名"
                %span.form-group__require#any
                  任意
                .form-group__input
                  = f.text_field :building, autofocus: true , placeholder: "例)  モルカリビル101", class: "input-default"
              .form-group
                .form-group__label
                  = f.label :"電話"
                %span.form-group__require#any
                  任意
                .form-group__input
                  = f.text_field :phone_number, autofocus: true ,placeholder: "例)  09012345678", class: "input-default"
              .actions
                = f.submit "次へ進む", class: 'btn-default btn-red'
    = render 'users/footer'
