%body
  .single-container
    %header.single-header
      %h1
        %a{ href: 'https://www.mercari.com/jp/', class: "header-logo"}
          = image_tag("logo.svg", class: "top-logo")
        %nav.clearfix
          = image_tag("user-create.jpg", class: "right-image")
    %main.single-main
      %section.single-contents
        %h2.single-head
          会員情報入力
        .single-inner
          .single-content
            = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
              = devise_error_messages!
              .form-group
                .form-group__label
                  = f.label :"ニックネーム"
                %span.form-group__require
                  必須
                .form-group__input
                  = f.text_field :nickname, autofocus: true ,placeholder: "例)モルカリ太郎", class: "input-default"
              .form-group
                .form-group__label
                  = f.label :"メールアドレス"
                %span.form-group__require
                  必須
                .form-group__input
                  = f.email_field :email, placeholder: "PC・携帯どちらでも可", class: "input-default"
              .form-group
                .form-group__label
                  = f.label :"パスワード"
                %span.form-group__require
                  必須
                .form-group__input
                  = f.password_field :password, autocomplete: "off", placeholder: "6文字以上", class: "input-default"
              .form-group
                .form-group__label
                  = f.label :"パスワード(確認)"
                %span.form-group__require
                  必須
                .form-group__input
                  = f.password_field :password_confirmation, autocomplete: "off", placeholder: "6文字以上", class: "input-default"
              .actions
                = f.submit "次へ進む", class: 'btn-default btn-red'
    = render 'users/footer'
