%body
  .single-container
    %header.single-header
      %h1
        = link_to root_path, {class: "header-logo"} do
          = image_tag("logo.svg", class: "top-logo")
        %nav.clearfix
          = image_tag("pay.jpg", class: "right-image")
    %main.single-main
      %section.single-contents
        %h2.single-head
          支払い方法
        .single-inner
          .single-content
            = form_for @user, :url => {:action => 'credit_create'}do |f|
              .form-group
                .form-group__label
                  = f.label :"カード番号"
                %span.form-group__require
                  必須
                .form-group__input
                  = f.text_field :card_number, autofocus: true ,required: "", placeholder: "半角数字のみ", class: "input-default"
                  = image_tag("card_val.jpg", id: "card-image")
              .form-group
                .form-group__label
                  = f.label :"有効期限"
                %span.form-group__require
                  必須
                %br
                .select-wrap
                  = f.select :expiration_month, 1..12, class: "credit-info"
                  %i.fa.fa-chevron-down
                %span.credit-date
                  月
                .select-wrap
                  = f.select :expiration_year, Date.today.year.. 10.years.from_now.year, class: "credit-info"
                  %i.fa.fa-chevron-down
                %span.credit-date
                  年
              .form-group
                .form-group__label
                  = f.label :"セキュリティコード"
                %span.form-group__require
                  必須
                .form-group__input
                  = f.text_field :security_code, required: "", placeholder: "カード背面4桁もしくは3桁の番号",class: "input-default"
              .actions
                = f.submit "次へ進む", class: 'btn-default btn-red'
    = render 'users/footer'
