.default-container
  %header.morcari-header
    = render 'items/top_header'
  %nav.bread-crumbs
    %ul
      %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
        = link_to "メルカリ", root_path, {itemprop: "url"}
        %i.fa.fa-chevron-right
      %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
        = link_to "マイページ", "/users/#{current_user.id}" , {itemprop: "title"}
        %i.fa.fa-chevron-right
      %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
        %span{itemprop: "title"}
          出品した商品 - 売却中
  %main.mypage-container.clearfix
    .mypage-content
      %section.mypage-tab__container
        %h2.mypage-tab__head#selling-title
          出品した商品
        %ul.mypages-tabs
          %li#selling-tab
            %h3#non-active
              = link_to "出品中", user_my_list_path(@user)
          %li#selling-tab
            %h3#non-active
              = link_to "取引中", user_transaction_list_path(@user)
          %li#selling-tab
            %h3
              = link_to "売却済み", user_sell_end_list_path(@user)
        .tab-content
          - if @items.present?
            - @items.each do |item|
              %ul.mypage-item__list#mypage-tab__transaction
                %li.mypage-item__listbox#selling-box
                  = link_to "/items/#{item.id}",class: "mypage-item__link", id: "link-box" do
                    %figure
                      = image_tag item.images.first.image.url
                    .mypage-list__body
                      .mypage-list__text
                        = item.name
                      %div
                        %span.lisiting-item__count
                          %i.fa.fa-heart-o
                          %span
                            0
                        %span.lisiting-item__count
                          %i.fa.fa-comment-o
                          %span
                            0
                        .mypage-item__status#sell-done
                          売却済
                    %i.fa.fa-chevron-right
          - else
            .tab-content
              %ul.mypage-item__list#mypage-tab__transaction
                %li.mypage-item__listbox#selling-box
                  .mypage-list__body
                    .mypage-list__text
                    %div#non-exist-item
                      取引中の商品はありません
    .mypage-side
      = render "users/mypage/mypage_sidebar"
  %div.morcari-app__banner
    = image_tag("app-banner.jpg", class: "app-image")
  %footer.morcari-footer
    = render 'items/top_footer'
