.mypage-content
  %section.mypage-user__icon
    = link_to root_path, {class: "mypage-user__box"} do
      %figure
        = image_tag("member_photo_noimage_thumb.png", width:"60", height:"60")
      %h2.bold
        = current_user.nickname
      .mypage-number
        %div
          評価
          %span.bold
            0
        %div
          出品数
          %span.bold
            = @items.length
  %section.mypage-tab__container
    %ul.mypage-tabs
      %li
        %h3.mypage-tabs__title
          = link_to "お知らせ", root_path
      %li
        %h3.mypage-tabs__title#non-active
          = link_to "やることリスト", root_path
    %ul.mypage-item__list#mypage-tab__notification
      %li
        = link_to root_path, {class: "mypage-item__link"} do
          %figure
            = image_tag("mercari_profile.png", width:"48", height:"48")
          .mypage-item__body
            .mypage-item__text
              事務局から個別メッセージ「毎月1日はメルカリ！月初めは出品も買い物も賑わっています！」
            %time
              %i.fa.fa-clock-o
              %span
                1日前
            %i.fa.fa-chevron-right
      %li.mypage-go__list
        = link_to root_path do
          一覧を見る
  %section#second.mypage-tab__container
    %h2.mypage-tab__head
      購入した商品
    %ul.mypages-tabs
      %li
        %h3
          = link_to "取引中", "user_open_trade_path"
      %li
        %h3#non-active
          = link_to "過去の取引", root_path
    .tab-content
      %ul.mypage-item__list#mypage-tab__transaction
        %li.mypage-item__notfound
          取引中の商品がありません
