%body
  .single-container
    %header.single-header
      %h1
        = link_to root_path, {class: "header-logo"} do
          = image_tag("logo.svg", class: "top-logo")
    %main.single-main
      %section.login-contents
        .login-head
          %p.login-head__title
            アカウントをお持ちでない方はこちら
          = link_to "新規会員登録", "entrance", class: "login-head__btn"
        .single-inner
          .single-content
            %button#facebook-login.sns-facebook.btn-default
              %i.icon-facebook
              Facebookでログイン
            %button#google-login.sns-google.btn-default.btn-red
              %i.icon-google
              Googleでログイン
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .form-group
                .form-group__input
                  = f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "input-default"
                .form-group__input#login-input
                  = f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "input-default"
                .actions
                  = f.submit "ログイン", class: 'btn-default btn-red'
    = render 'users/footer'
