.default-container
  %header.morcari-header
    = render 'top_header'
  %div.morcari-campaign__banner
    = image_tag("campaign-banner.jpg", class: "banner-image")
  %div.morcari-main
    = render 'main'
  %div.morcari-app__banner
    = image_tag("app-banner.jpg", class: "app-image")
  %footer.morcari-footer
    = render 'top_footer'

