%body
  .single-container
    %header.single-header
      %h1
        = link_to root_path, {class: "header-logo"} do
          = image_tag("logo.svg", class: "top-logo")
    %main.single-main#sell-main
      %section.single-contents
        %h2.single-head
          商品の情報を入力
        .single-inner#sell-inner
          = form_for(@item) do |f|
            .single-content#sell-content
              .sell-upload
                .sell-upload__box
                  %h3.sell-upload__head
                    出品画像
                    %span.form-require
                      必須
                  %p
                    最大4枚までアップロードできます
                  .sell-dropbox__container
                    .sell-upload__items
                    .sell-upload__dropbox
                      %pre
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ドラッグ&ドロップ
                        またはクリックしてファイルをアップロード
              .sell-content.clearfix
                .form-group
                  .form-group__label
                    = f.label :"商品名"
                  %span.form-group__require
                    必須
                  .form-group__input
                    = f.text_field :name, autofocus: true , placeholder: "商品名  (必須40文字まで)", class: "input-default",id: "item"
                .form-group
                  .form-group__label
                    = f.label :"商品の説明"
                  %span.form-group__require
                    必須
                  .form-group__input
                    = f.text_area :description, rows: "5", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライドグレーで傷はありません。あわせやすいのでおすすめです。", class: "textarea-default"
              .sell-content.clearfix
                %h3.sub-head
                  商品の詳細
                .sell-form__box
                  .form-group#first-child
                    .form-group__label
                      = f.label :"カテゴリー"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.collection_select :category_large_id, Category.where(id: 1..3), :id, :name
                      %i.fa.fa-chevron-down#first-cursor
                      .form-group__input
                        = f.collection_select :category_large_id, Category.where(id: 1..3), :id, :name
                      %i.fa.fa-chevron-down
                      .form-group__input
                        = f.collection_select :category_large_id, Category.where(id: 1..3), :id, :name
                      %i.fa.fa-chevron-down#second-cursor
                  .form-group
                    .form-group__label
                      = f.label :"商品の状態"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.select :condition,[["---", "---"], ["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]],disabled: "---", selected: "---"
                      %i.fa.fa-chevron-down
              .sell-content.clearfix
                %h3.sub-head
                  配送について
                .sell-form__box
                  .form-group#first-child
                    .form-group__label
                      = f.label :"配送料の負担"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.select :condition,[["---", "---"], ["送料込み(出品者負担)", "送料込み(出品者負担)"], ["着払い(購入者負担)", "着払い(購入者負担)"]],disabled: "---", selected: "---"
                      %i.fa.fa-chevron-down
                  .form-group
                    .form-group__label
                      = f.label :"配送の方法"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.select :how_to_delivery,[["---", "---"], ["未定", "未定"], ["らくらくメルカリ便","らくらくメルカリ便"], ["ゆうメール","ゆうメール"], ["レターパック", "レターパック"], ["普通郵便(定形・定形外)", "普通郵便(定形・定形外)"], ["クロネコヤマト", "クロネコヤマト"], ["ゆうパック", "ゆうパック"], ["クリックポスト", "クリックポスト"], ["ゆうパケット", "ゆうパケット"]],disabled: "---", selected: "---"
                      %i.fa.fa-chevron-down
                  .form-group
                    .form-group__label
                      = f.label :"発送元の地域"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.collection_select :area_id, Area.all, :id, :name
                      %i.fa.fa-chevron-down
                  .form-group
                    .form-group__label
                      = f.label :"発送までの日数"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.select :shipping_dates,[["---", "---"], ["1〜2日で発送", "1〜2日で発送"], ["2〜3日で発送", "2〜3日で発送"], ["4〜7日で発送", "4〜7日で発送"]],disabled: "---", selected: "---"
                      %i.fa.fa-chevron-down
              .sell-content.clearfix
                %h3.sub-head
                  販売価格(300〜9,999,999)
                .sell-form__box
                  .form-group#first-child
                    .form-group__label
                      = f.label :"価格"
                    %span.form-group__require
                      必須
                    .form-group__input
                      = f.text_field :price,  placeholder: "例)  300", class: "input-default"

    = render 'users/footer'
