%body
  .single-container
    %header.single-header
      %h1
        = link_to root_path, {class: "header-logo"} do
          = image_tag("logo.svg", class: "top-logo")
    %main.single-main#sell-main
      %section.single-contents
        %h2.single-head
          商品の情報を入力
        .single-inner#sell-inner
          = form_for(@item) do |f|
            .single-content#sell-content
              .sell-upload
                .sell-upload__box
                  %h3.sell-upload__head
                    出品画像
                    %span.form-require
                      必須
                  %p
                    最大4枚までアップロードできます(ドラッグ&ドロップまたはクリックしてファイルをアップロード)
                  .sell-dropbox__container
                    .sell-upload__items
                    .sell-upload__dropbox
                      %pre
                      %ul
                        %li#first-list
                          = render 'image_form', f: f
                        - 3.times do
                          %li
                            = render 'image_form', f: f

              .sell-content.clearfix
                .form-group
                  .form-group__label
                    = f.label :"商品名"
                  %span.form-group__require
                    必須
                  .form-group__input
                    = f.text_field :name, autofocus: true , placeholder: "商品名  (必須40文字まで)", class: "input-default",id: "item"
                .form-group
                  .form-group__label
                    = f.label :"商品の説明"
                  %span.form-group__require
                    必須
                  .form-group__input
                    = f.text_area :description, rows: "5", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライドグレーで傷はありません。あわせやすいのでおすすめです。", class: "textarea-default"
              .sell-content.clearfix
                %h3.sub-head
                  商品の詳細
                .sell-form__box
                  .form-group#first-child
                    .form-group__label
                      = f.label :"カテゴリー"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input#parent
                        = f.collection_select :category_large_id, Category.where(id: 1..12), :id, :name, {include_blank: "---"},{class: "category-large"}
                        %i.fa.fa-chevron-down
                      .form-group__input#children
                        = f.collection_select :category_middle_id, Category.where(id:  13..31), :id, :name, {include_blank: "---"}, {class: "category-middle", "data-val": "1"}
                        = f.collection_select :category_middle_id, Category.where(id: 32..45), :id, :name, {include_blank: "---"}, {class: "category-middle", "data-val": "2"}
                        = f.collection_select :category_middle_id, Category.where(id: 46..60), :id, :name, {include_blank: "---"}, {class: "category-middle", "data-val": "3"}
                        = f.collection_select :category_middle_id, Category.where(id: 61..73), :id, :name, {include_blank: "---"}, {class: "category-middle", "data-val": "4"}
                        = f.collection_select :category_middle_id, Category.where(id: 74..91), :id, :name, {include_blank: "---"}, {class: "category-middle", "data-val": "5"}
                        = f.collection_select :category_middle_id, Category.where(id: 92..101), :id, :name, {include_blank: "---"}, {class: "category-middle", "data-val": "6"}
                        = f.collection_select :category_middle_id, Category.where(id: 102..111), :id, :name, {include_blank: "---"}, {class: "category-middle", "data-val": "7"}
                        = f.collection_select :category_middle_id, Category.where(id: 112..120), :id, :name, {include_blank: "---"}, {class: "category-middle", "data-val": "8"}
                        = f.collection_select :category_middle_id, Category.where(id: 121..129), :id, :name, {include_blank: "---"}, {class: "category-middle", "data-val": "9"}
                        = f.collection_select :category_middle_id, Category.where(id: 130..138), :id, :name, {include_blank: "---"}, {class: "category-middle", "data-val": "10"}
                        = f.collection_select :category_middle_id, Category.where(id: 139..140), :id, :name, {include_blank: "---"}, {class: "category-middle", "data-val": "11"}
                        = f.collection_select :category_middle_id, Category.where(id: 141..148), :id, :name, {include_blank: "---"}, {class: "category-middle", "data-val": "12"}
                        %select.fa.fa-chevron-down#children
                      .form-group__input#grandson
                        = f.collection_select :category_small_id, Category.where(id:  150..167), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "13"}
                        = f.collection_select :category_small_id, Category.where(id:  169..189), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "14"}
                        = f.collection_select :category_small_id, Category.where(id:  191..202), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "15"}
                        = f.collection_select :category_small_id, Category.where(id:  204..208), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "16"}
                        = f.collection_select :category_small_id, Category.where(id:  210..213), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "17"}
                        = f.collection_select :category_small_id, Category.where(id:  215..224), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "18"}
                        = f.collection_select :category_small_id, Category.where(id:  226..227), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "19"}
                        = f.collection_select :category_small_id, Category.where(id:  229..233), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "20"}
                        = f.collection_select :category_small_id, Category.where(id:  235..241), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "21"}
                        = f.collection_select :category_small_id, Category.where(id:  243..260), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "22"}
                        = f.collection_select :category_small_id, Category.where(id:  262..272), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "23"}
                        = f.collection_select :category_small_id, Category.where(id:  274..277), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "24"}
                        = f.collection_select :category_small_id, Category.where(id:  279..301), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "25"}
                        = f.collection_select :category_small_id, Category.where(id:  303..308), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "26"}
                        = f.collection_select :category_small_id, Category.where(id:  310..315), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "27"}
                        = f.collection_select :category_small_id, Category.where(id:  317..324), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "28"}
                        = f.collection_select :category_small_id, Category.where(id:  326..332), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "29"}
                        = f.collection_select :category_small_id, Category.where(id:  334..342), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "30"}
                        = f.collection_select :category_small_id, Category.where(id:  344..346), :id, :name, {include_blank: "---"}, {class: "category-small", "data-val": "31"}
                        %select.fa.fa-chevron-down#grandson
                  .form-group
                    .form-group__label
                      = f.label :"サイズ"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.select :size,[["---", "---"], ["XS以下", "XS以下"], ["S", "S"], ["M", "M"], ["L", "L"], ["XL", "XL"], ["XL以上", "XL以上"], ["FREE SIZE", "FREE SIZE"]],disabled: "---", selected: "---"
                      %i.fa.fa-chevron-down
                  .form-group
                    .form-group__label
                      = f.label :"ブランド"
                    %span.form-group__require#any
                      任意
                    .form-group__contain
                      .form-group__input
                        = f.collection_select :brand_id, Brand.where(id: 1..100), :id, :name, {include_blank: "---"}
                      %i.fa.fa-chevron-down
                  .form-group
                    .form-group__label
                      = f.label :"商品の状態"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.select :condition,[["---", "---"], ["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]],disabled: "---", selected: "---"
                      %i.fa.fa-chevron-down
              .sell-content.clearfix
                %h3.sub-head
                  配送について
                .sell-form__box
                  .form-group#first-child
                    .form-group__label
                      = f.label :"配送料の負担"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.select :delivery_charge,[["---", "---"], ["送料込み(出品者負担)", "送料込み(出品者負担)"], ["着払い(購入者負担)", "着払い(購入者負担)"]],{disabled: "---", selected: "---"}, {class: "delivery-parent"}
                      %i.fa.fa-chevron-down
                  .form-group#delivery-children.seller
                    .form-group__label
                      = f.label :"配送の方法"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.select :how_to_delivery,[["---", "---"], ["未定", "未定"], ["らくらくメルカリ便","らくらくメルカリ便"], ["ゆうメール","ゆうメール"], ["レターパック", "レターパック"], ["普通郵便(定形・定形外)", "普通郵便(定形・定形外)"], ["クロネコヤマト", "クロネコヤマト"], ["ゆうパック", "ゆうパック"], ["クリックポスト", "クリックポスト"], ["ゆうパケット", "ゆうパケット"]],disabled: "---", selected: "---"
                      %i.fa.fa-chevron-down
                  .form-group#delivery-children.buyer
                    .form-group__label
                      = f.label :"配送の方法"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.select :how_to_delivery,[["---", "---"], ["未定", "未定"], ["ゆうメール","ゆうメール"], ["クロネコヤマト", "クロネコヤマト"], ["ゆうパック", "ゆうパック"]],disabled: "---", selected: "---"
                      %i.fa.fa-chevron-down
                  .form-group
                    .form-group__label
                      = f.label :"発送元の地域"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.collection_select :area_id, Area.all, :id, :name, {include_blank: "---"}
                      %i.fa.fa-chevron-down
                  .form-group
                    .form-group__label
                      = f.label :"発送までの日数"
                    %span.form-group__require
                      必須
                    .form-group__contain
                      .form-group__input
                        = f.select :shipping_dates,[["---", "---"], ["1〜2日で発送", "1〜2日で発送"], ["2〜3日で発送", "2〜3日で発送"], ["4〜7日で発送", "4〜7日で発送"]],disabled: "---", selected: "---"
                      %i.fa.fa-chevron-down
              .sell-content.clearfix
                %h3.sub-head
                  販売価格(300〜9,999,999)
                .sell-form__box
                  .form-group#first-child
                    .form-group__price
                      .form-group__left
                        .form-group__label
                          = f.label :"価格"
                        %span.form-group__require
                          必須
                      .form-group__right
                        .form-group__input.price-input
                          ¥
                          %div
                            = f.text_field :price,  placeholder: "例)  300", class: "input-default"
                  %li.clearfix
                    .form-group__left
                      販売手数料(10%)
                    .form-group__right
                      ー
                  %li.clearfix.bold
                    .form-group__left#bold
                      販売利益
                    .form-group__right
                      ー
              .sell-content.sell-btn-box
                %p
                  = link_to "禁止されている出品", "https://www.mercari.com/jp/help_center/getting_started/prohibited_items/",target: "_blank"
                  ,
                  = link_to "行為", "https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/",target: "_blank"
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  = link_to "偽ブランドの販売", "https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/",target: "_blank"
                  は犯罪であり処罰される可能性があります。
                .actions
                  = f.submit "出品する", class: 'btn-default btn-red'
                = link_to "戻る",root_path, class: "btn-gray "
    = render 'users/footer'
